*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

html {
  font-size: clamp(1rem, 2vw, 3rem);
  user-select: none;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-family: 'Comfortaa', cursive;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  overscroll-behavior: none;
  background-color: black;
  color: white;
}

.Log {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  color: white;
  pointer-events: none;
}


.Parallax {
  --p: 120;
  height: 100vh;
  overflow: hidden;
  -webkit-perspective: calc(var(--p) * 1px);
          perspective: calc(var(--p) * 1px);
  -webkit-perspective-origin-x: 100%;
          perspective-origin-x: 100%;
}
.Parallax_Scroll {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  will-change: transform;
}
.Parallax_Preserve {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.Parallax_Layer {
  --t: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform-origin-x: 100%;
          transform-origin-x: 100%;
  -webkit-transform: translateZ(calc(var(--t) * 1px)) scale(calc(1 + (var(--t) * -1) / var(--p)));
          transform: translateZ(calc(var(--t) * 1px)) scale(calc(1 + (var(--t) * -1) / var(--p)));
}
.Parallax_Portal {
  --p: 120;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: calc(var(--p) * 1px);
          perspective: calc(var(--p) * 1px);
  -webkit-perspective-origin-x: 100%;
          perspective-origin-x: 100%;
}
.Parallax_PortalScroll {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  will-change: transform;
}


.Scene {
  position: relative;
  min-height: 100vh;
  padding: 5vw;
}
/* .Scene-2 { background: #4527a0; } */
.Scene-2 { background: #3e02df; }
/* .Scene-4 { background: #000328; } */
.Scene-4 { background: #1f03b7; }


p {
  margin-top: 0;
  margin-bottom: 5vw;
  text-align: justify;
}


.Svg {
  display: block;
}


.Positioner {
  position: absolute;
}

/* Scene 1 */

.Title, .SubTitle, .Lead, .Tip {
  position: absolute;
  margin: 0;
  text-align: initial;
}

.Title {
  top: 6vw;
  left: 5vw;
  margin-right: 11rem;
  color: #ff4054;
  font-size: clamp(1rem, 2rem + 2.5vh, 4rem);
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}

.SubTitle {
  top: 6vw;
  right: 5vw;
  color: #ff4054;
  font-size: clamp(1rem, 0.9rem + 1.4vh, 4rem);
  font-weight: 700;
}

.Lead {
  left: 5vw;
  top: max(calc(55vmin - (50vmax - (100vmax - 100vmin)) * 0.2), 26vh);
  font-size: clamp(1rem, 0.9rem + 1.4vh, 4rem);
  font-weight: 300;
  width: calc(12ch + (100vmax - 100vh) * 0.3);
}

.Tip {
  left: 5vw;
  bottom: 3vw;
  font-size: 1rem;
  font-weight: 300;
  transform: translateY(calc(100% + 4vw));
  animation: scrollTip 1s cubic-bezier(0, 0, 0, 1) 9s forwards;
  transition: opacity 1s;
}
@keyframes scrollTip {
  to {
    transform: translateY(0px);
  }
}

.Positioner-mars {
  left: 67vw;
  top: 66vh;
  width:  calc(61vh + (100vmax - 100vh) * 0.3);
  height: calc(61vh + (100vmax - 100vh) * 0.3);
  transform: translate(-50%, -50%);
}

.Parallax_Layer-orbiter {
  animation: Parallax_Layer-orbiter 50s linear infinite;
}
@keyframes Parallax_Layer-orbiter {
  0%   { transform: translateZ(30px) scale(calc(1 + -30 / 120)); }

  15%  { transform: translateZ(50px) scale(calc(1 + -50 / 120)); }
  35%  { transform: translateZ(50px) scale(calc(1 + -50 / 120)); }

  50%  { transform: translateZ(30px) scale(calc(1 + -30 / 120)); }

  65%  { transform: translateZ(10px) scale(calc(1 + -10 / 120)); }
  85%  { transform: translateZ(10px) scale(calc(1 + -10 / 120)); }

  100% { transform: translateZ(30px) scale(calc(1 + -30 / 120)); }
}

.Positioner-orbiter {
  left: 67vw;
  top: 66vh;
  width:  calc((61vh + (100vmax - 100vh) * 0.3) * 2);
  height: calc(61vh + (100vmax - 100vh) * 0.3);
  transform: translate(-50%, -50%);
  transform-origin: right;
  animation: Positioner-orbiter 8s cubic-bezier(0, 0.2, 0, 1) forwards;
}
@keyframes Positioner-orbiter {
  0% {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}


/* Scene 3 */

.Scene-3 {
  height: 150vh;
}

.Svg-launchBg {
  position: absolute;
  left: 50%;
  top: 50%;
  width: calc(100% + (100vmax - 100vw) * 1.6);
  transform: translate(-50%, -50%);
}

#s-launch-tower1Light, #s-launch-tower2Light {
  transition: transform 0.3s;
}
#s-launch-tower1Light {
  transform-origin: 252px 711px;
}
#s-launch-tower2Light {
  transform-origin: 756px 711px;
}

#s-launch-stand1 {
  transform-origin: 440px 960px;
}
#s-launch-stand2 {
  transform-origin: 548px 960px;
}
